html {
    font-size: 16px;
}

body {
    font-family: 'Exo', sans-serif;
    background: $bgColor;
    font-weight: bold;
    color: $color;
}

main {
    padding-top: 7rem;
}

a {
    color: $color;
}

.center {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
}

