$bgColor : #0d0638;
$color : #fff;
$twoColor: #000;
$mainColor : #104ee1;
$trackColor:  #104fe19d;
$colorLoader: #0000003c;
$beats: #000000de;
$headerBg: rgba(0, 0, 0, 0.6156862745);
$bgMobilNav: #0b0019;
$themeSvg: #260651;
$trackBg: #000000b0;



// $bgColor : #b171ffa4;
// $color : #000;
// $twoColor: #f587ffd5;
// $mainColor : #0088ff;
// $trackColor:  #104fe19d;
// $colorLoader: #0000003c;
// $beats: rgba(248, 166, 253, 0.753);
// $headerBg: rgba(163, 80, 219, 0.753);
// $bgMobilNav: #b171ff;
// $themeSvg: #6a0ee1;
// $trackBg: #b96799b0;




