@media (max-width: 1300px) {
    .center{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .header{
        position: relative;
        &__nav{
            display: none;
        }

        &__blocks{
            flex-direction: column;
        }
    }

    .app{
        padding-top: 3rem;
    }

    .burger{
        display: flex;
    }

    .beats{
        min-height: 100dvh;
    }

    .music{
        min-height: 100dvh;
    }

}

@media (max-width: 425px) {
    html {
        font-size: 12px;
    }

    .loader{
    width: 7rem;

    }
    .wrapper{
    }
    
    .beat {
        &-container{

        }
    }
}